* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin:0px;
	padding:0px;
}

/* home page */


.title {
	background: #ffcccb;
	padding: 60px;
	text-align:center;
	border-radius: 10px;
}


.title:hover {
	cursor: pointer;
	background: light-gray;
	visibility: visible;
}

#frontButton {
	border-color: white;
	padding: 20px;
}

.topSection {
	position: relative; 
	width: 100%;
	height: 90%;
}

.centerText {
	position: absolute; 
	top: 50%; 
	text-align: center; 
	width: 100%; 
	color: white;
	font-size: 30px;
	font-weight: bold;
}

#pfp {
    height: 25%;
    width: 25%;
}

.nav-link {
	font-weight: bold;
}

.card {
	padding: 20px !important;
	background-color: rgba(0, 0, 0, 0.2);
}

.card-text {
	margin-left: 30%;
	margin-right: 30%;
}

h5 {
	text-align: center;
	font-family: "Poppins", sans-serif;
	/* padding: 30px; */
}

h2 {
	text-align:center;
	padding: 40px;
}

.mid-section {
	position:relative;
	background: #FED8B1;
	top: -35px;
	padding-bottom: 50px;
}

/* travel */
h4 {
	padding: 30px;
	text-align: center;
}

/* represents whole image */
#pic {
	position: relative;
	padding:5px;
	background-color: light-gray;
	opacity: 1;
}

/* hover over JUST the picture, not involving text */
#pic:hover {
	opacity: 0.7;
}

/* set position of text */
#pic > .caption {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	font-weight: bold;
	color: black;
}

/* when the whole picture hovers, this only focuses on the text */
#pic:hover > .caption {
	visibility: visible;

}

/* Photos */

.w-50 {
	display:block;
	margin: auto;
}

.carousel-inner {
	background:#D3D3D3;
}

body > a > span {
	position:relative;
	top: -85px;
}

/* About me */
h3 {
	text-align: center;
	padding: 30px;
}

.profile {
	background: white;
	padding-bottom: 500px;
}

.container-sm {
	padding-left: 100px;
	padding-right: 100px;
	margin-left: 100px;
	margin-right: 100px;

}

/* projects */

.captionUnder {
	text-align: center;
	padding: 5px;
}

#appName {
	font-size: 30px;
	font-weight:bold;
	padding:10px;
}

.projectLayer {
	padding: 30px;
}

/* #portButton {
	width: 200px;
	height: 200px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
} */


#imageButton {
	background-image: url('mazepic.png');
	width: 200px;
	height:200px;
	position:relative;
	margin-bottom: 35px;
}

#imageButton1 {
	background-image: url('personalwebsite.png');
	width: 200px;
	height:200px;
	position:relative;
	/* left: 5%; */
	margin-bottom: 35px;
}

#imageButton2 {
	background-image: url('realOrganize.png');
	width: 200px;
	height:200px;
	position:relative;
	/* left: 10%; */
	margin-bottom: 35px;
}

#imageButton3 {
	background-image: url('minesweeper.png');
	width: 200px;
	height:200px;
	position:relative;
	/* left: 15%; */
	margin-bottom: 35px;
}

#imageButton4 {
	background-image: url('breastcancer.png');
	width: 200px;
	height:200px;
	position:relative;
	/* left: 20%; */
	margin-bottom: 35px;
}

#imageButton7 {
	background-image: url('GAN.png');
	width: 200px;
	height:200px;
	position:relative;
	/* top: 20%; */
}


#imageButton8 {
	background-image: url('moneyshow.png');
	width: 200px;
	height:200px;
	position:relative;
	/* left: 20%; */
	margin-bottom: 35px;
}

#imageButton9 {
	background-image: url('timer.png');
	width: 200px;
	height:200px;
	position:relative;
	/* top: 20%; */
}

#imageButtonH {
	background-image: url('covid.png');
	width: 200px;
	height:200px;
	margin-bottom: 35px;
}

#imageButtonH1 {
	background-image: url('blinddate.png');
	width: 200px;
	height:200px;
	margin-bottom: 35px;
}

/* #imageButton8 {
	background-image: url('mazepic.png');
	width: 200px;
	height:200px;
	position:relative;
}

#imageButton9 {
	background-image: url('mazepic.png');
	width: 200px;
	height:200px;
	position:relative;
} */

.firstRow {
	display: flex;
	align-items: center;
}
/* .portButton {
	width: 200px;
	height: 200px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

#imgPortfolio {
	display:block;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
} */

.innerPic { 
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	text-transform: uppercase;
} 

.outerPic {
	opacity: 0;
	background-color: rgba(255, 119, 29, 0.9);
}

#imageButton:hover {
	transform: scale(1.13);
	background-image: none;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton:hover .outerPic {
	opacity: 1;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton1:hover {
	transform: scale(1.13);
	background-image: none;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton1:hover .outerPic {
	opacity: 1;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton2:hover {
	transform: scale(1.13);
	background-image: none;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton2:hover .outerPic {
	opacity: 1;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton3:hover {
	transform: scale(1.13);
	background-image: none;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton3:hover .outerPic {
	opacity: 1;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton4:hover {
	transform: scale(1.13);
	background-image: none;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton4:hover .outerPic {
	opacity: 1;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton5:hover {
	transform: scale(1.13);
	background-image: none;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton5:hover .outerPic {
	opacity: 1;
	background-color: rgba(255, 119, 29, 0.9);
}

#imageButton6:hover {
	transform: scale(1.13);
	background-image: none;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton6:hover .outerPic {
	opacity: 1;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton7:hover {
	transform: scale(1.13);
	background-image: none;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton7:hover .outerPic {
	opacity: 1;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton8:hover {
	transform: scale(1.13);
	background-image: none;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton8:hover .outerPic {
	opacity: 1;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton9:hover {
	transform: scale(1.13);
	background-image: none;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButton9:hover .outerPic {
	opacity: 1;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButtonH:hover {
	transform: scale(1.13);
	background-image: none;
	background-color: rgba(255, 119, 29, 0.9);
}

#imageButtonH:hover .outerPic {
	opacity: 1;
	background-color: rgba(255, 119, 29, 0.9);

}

#imageButtonH1:hover {
	transform: scale(1.13);
	background-image: none;
	background-color: rgba(255, 119, 29, 0.9);
}

#imageButtonH1:hover .outerPic {
	opacity: 1;
	background-color: rgba(255, 119, 29, 0.9);

}

/* #portButton {
	position: relative;
	margin: auto;
	overflow: hidden;
} */

/* #portButton #imgportfolio {
	width: 200px;
     height: 200px;
	 background-position: 50% 50%;
} */
     /* background-repeat: no-repeat;
	 background-size: cover; */


/* .paragraph {
	position: absolute;
  text-align: center;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */


/* .backgroundpic:hover {
	background: #000000;
}

img:hover,
.backgroundpic:hover img {
    visibility: hidden;
} */

/* .paragraph:hover {
	visibility:visible;
}

#portButton:hover {
	transform: scale(1.13);
	opacity: 0.2;
	background: rgba(0,0,0,0.2);
	visibility:visible;
}

#portButton:hover > .paragraph {
	position: absolute;
	top: 50%;
	visibility:visible;
} */

/* #imgportfolio:hover{
	transform: scale(1.13);
} */

/* .button:hover > p {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
} */

/* #portButton:hover #portcaption {
	transform: scale(1.13);
	background: rgba(36, 62, 206, 0.6);
}

#portButton > p {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	font-weight: bold;
	color: black;
} */

/* Contact */

/* h50 {
	text-align:center;

} */

#contactButton {
	border-color: white;
	padding: 20px;
}


.lined {
	border: 1px solid orange;
	width: 7%;
	margin: auto;
}

/* thank you */
.message {
	text-align: center;
	font-size: 50px;
	padding: 50px;
	padding-bottom: 500px;
}

/* footer */

.end {
	padding:30px;
	background-color: white;

}

.footer {
	padding: 10px;
	background-color: white;
	text-decoration: none
}

.fab {
	color: #A9A9A9;
	font-size: 30px;
text-decoration: none
}

.fas {
	color: #A9A9A9;
	font-size:30px;
}

i:hover {
	color:blue;
	font-size:40px;
	text-decoration: none

}

.logos {
	text-align: center;
	display: block;
	justify-content: space-between;

}

.github {
	padding: 5px;
}

.facebook {
	padding: 5px;
}

.envelope {
	padding: 5px;
}
